    iframe {
        width: 90vw;
        height: 75vh;
        border: 1px solid #eee;
        width: calc(100vw - 100px);
        height: calc(100vh - 200px);
    }

    .car-upgrade-library-element:hover {
        background-color: #333;
    }

    .car-upgrade-library-element.selected {
        background-color: #59f;
    }