#settings-open {
    background-image: url(img/settings.png);
    float: right;
}

.apt-newmode .apt-oldmode-c {
    display: none !important;
}

.apt-customshowroommode #apt-mode ~ * {
    display: none !important;
}

.apt-oldmode .apt-newmode-c {
    display: none !important;
}
