/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xBrT1lp9IdZ6Q20XTtjH6Zv3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xIS898UBCVj0FEntoasBk6P3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xBkraXwpsr1uSZUhAAol_4_3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xKTAHfCyYjmaKhz-jw4dXo73rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xP1CsDU87ma3di2VmaZcPSr3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xBztfhWvsElVqpbWxzFHK633rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/opensanscondensed/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body,
input,
button,
select,
textarea {
  font-family: "Tahoma", sans-serif;
}
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
button {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  background: #59f;
  border: none;
  outline: none;
  padding: 3px 10px;
  color: white;
  font-weight: 700;
}
button[disabled] {
  color: #aaa;
  pointer-events: none;
}
pre {
  font-family: "Consolas", monospace;
}
progress {
  height: 3px;
  background: #eee;
}
progress::-webkit-progress-bar {
  background: #eee;
}
progress::-webkit-progress-value {
  background: #59f;
}
button:hover,
footer span:hover > button:first-child {
  background: #87B6FE;
}
input,
select {
  outline: none;
  border: 1px solid #aaa;
  padding: 2px;
  font-size: 13px;
}
[contenteditable] {
  cursor: text;
  text-transform: none;
  outline: none;
}
input:focus,
[contenteditable]:focus,
select:focus {
  box-shadow: 0 0 0 2px #59f;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  box-shadow: none;
}
html,
body {
  margin: 0;
  padding: 0;
  cursor: default;
  overflow: hidden;
}
.error,
[data-error-id] {
  color: brown;
  font-weight: 700;
}
input:invalid,
input.invalid {
  box-shadow: 0 0 0 2px red;
}
pre {
  white-space: pre-wrap;
  font-size: 12px;
}
ul.tags {
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  line-height: 25px;
}
ul.tags:focus {
  box-shadow: 0 0 0 2px #59f;
}
ul.tags li {
  display: inline-block;
  background: #eee;
  padding: 3px;
  margin-right: 10px;
  line-height: 15px;
}
ul.tags li:after {
  content: "×";
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  line-height: 0;
  position: relative;
  top: 1px;
}
ul.tags input {
  width: 0;
  border: none;
  background: transparent;
  font: inherit;
}
ul.tags input:focus {
  width: 120px;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background-color: #999;
}
#cars-list span.disabled,
#selected-car-header.disabled {
  color: #aaa !important;
}
#selected-car-error:before {
  content: "";
  font-family: Segoe UI Symbol;
  float: right;
  background: no-repeat url(img/warn.png) center;
  background-size: contain;
  width: 14px;
  height: 14px;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
aside,
#selected-car-tags li {
  -webkit-user-select: none;
}
.car-upgrade {
  width: 64px;
  height: 64px;
  /*-webkit-filter: drop-shadow(0 0 1px #000);*/
  background-color: rgba(0, 0, 0, 0.32);
}
#settings-open,
#cars-list-filter-focus {
  background: center none no-repeat;
  background-size: cover;
  height: 22px;
  width: 24px;
}
#settings-open:hover,
#cars-list-filter-focus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#settings-open:active,
#cars-list-filter-focus:active {
  opacity: .7;
}
dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 10;
}
dialog h6 {
  margin: 10px 0 4px;
}
dialog progress {
  margin: 0 0 10px;
  width: 100%;
}
dialog p,
dialog label,
dialog ul {
  font-size: 12px;
}
dialog input,
dialog select {
  margin-bottom: 10px;
}
dialog input:not([type="checkbox"]):not([type="radio"]),
dialog select,
dialog button,
dialog table {
  width: 100%;
  box-sizing: border-box;
}
dialog input[type="checkbox"],
dialog input[type="radio"] {
  vertical-align: -webkit-baseline-middle;
}
dialog > article {
  min-width: 400px;
  max-width: calc(100vw - 50px);
  background: #fff;
  border-radius: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
  padding: 0 20px 40px;
  box-sizing: border-box;
  position: relative;
}
.dialog-header {
  margin: 0 -20px;
}
.dialog-header h4 {
  padding: 18px 20px;
  display: inline-block;
  margin: 0;
}
.dialog-header > div:first-child {
  float: right;
  display: inline-block;
  margin-top: 18px;
  margin-right: 20px;
}
.dialog-header > div:first-child button {
  width: auto;
  margin: 0;
}
.dialog-header.tabs {
  background: #eee;
}
.dialog-header.tabs h4.active {
  background: #fff;
}
.dialog-content > p:first-child {
  margin-top: 0;
}
.dialog-content .left,
.dialog-content .right {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.dialog-content .left {
  padding-right: 5px;
}
.dialog-content .right {
  padding-left: 5px;
}
.dialog-buttons {
  display: flex;
  position: absolute;
  background: #59f;
  left: 0;
  right: 0;
  bottom: 0;
}
.dialog-buttons button {
  height: 100%;
  padding: 10px;
}
dialog.dark article {
  border-color: #333;
  background: #000;
  color: #fff;
}
dialog.dark .dialog-header.tabs {
  background: #333;
}
dialog.dark .dialog-header.tabs h4.active {
  background: #000;
}
table {
  width: auto !important;
  font-size: 11px;
  margin: 18px 0;
  border: none;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  padding: 2px 20px;
}
td {
  font-size: 14px;
}
th {
  background-image: url(img/small.gif);
  cursor: pointer;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
}
th.headerSortUp {
  background-image: url(img/asc.gif);
}
th.headerSortDown {
  background-image: url(img/desc.gif);
}
tbody tr:hover {
  background: #def;
}
#window-border {
  border: 1px solid #aaa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}
.maximized #window-border {
  display: none;
}
#window-drag,
#window-drag-left {
  -webkit-app-region: drag;
}
#window-drag-left {
  position: fixed;
  height: 30px;
  top: 0;
  left: 0;
  width: 100px;
  z-index: -1;
}
#cars-list-filter {
  width: 60px;
  outline: none;
  height: 25px;
}
#window-drag {
  position: fixed;
  height: 20px;
  top: -20px;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  right: 82px;
  z-index: -1;
}
#window-drag.active {
  top: 0;
}
#window-buttons {
  position: fixed;
  line-height: 0;
  top: 1px;
  right: 2px;
  height: 18px;
  z-index: 21;
}
#window-buttons button {
  height: 19px;
  width: 19px;
  margin-right: 1px;
  background: #fff;
  border: none;
  outline: none;
  color: #888;
  font-family: Segoe UI Symbol;
  font-size: 10px;
  line-height: 19px;
  padding: 0;
}
#window-buttons button:hover {
  color: #fff;
  background: #59f;
}
#window-buttons #window-close {
  width: 36px;
  margin-right: 4px;
}
#window-buttons #window-close:hover {
  background: #E04343;
  color: white;
}
iframe {
  width: 90vw;
  height: 75vh;
  border: 1px solid #eee;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
}
.car-library-element:hover {
  background-color: #eee !important;
}
.car-library-element.selected {
  background-color: #59f !important;
}
.dark .car-library-element:hover {
  background-color: #333 !important;
}
#drop-target {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.24);
  z-index: 91;
}
#drop-target h4 {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 60px;
  right: 60px;
  background: rgba(255, 255, 255, 0.91);
  padding-top: calc(50vh - 90px);
  text-align: center;
}
#drop-target h4:before {
  content: "Drop Here ";
}
.apt-nondefmode #apt-mode ~ * {
  display: none !important;
}
footer {
  position: fixed;
  bottom: -100px;
  background: #59f;
  box-sizing: border-box;
  padding: 0;
  z-index: 2;
  /*transition: .1s bottom linear;*/
  /*transform: translate3d(0, 0, 0);*/
}
footer.active {
  bottom: 0;
}
footer button {
  height: 100%;
  padding: 10px;
}
footer div {
  display: inline-flex;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  transition: .1s width;
  transition-delay: .5s;
}
footer div button {
  width: 100%;
}
footer button:hover + div,
footer div:hover {
  width: 70px;
  transition-delay: .3s;
}
footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
aside {
  background: #eee;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
}
aside footer {
  left: 0;
  width: 250px;
}
aside > h4 {
  margin: 0;
  padding: 10px;
}
aside progress {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 230px;
  background: #fff;
}
aside progress::-webkit-progress-bar {
  background: #fff;
}
#cars-list {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 11px;
}
#cars-list span {
  display: block;
  padding: 3px 15px 3px 15px;
  box-sizing: border-box;
  /*min-height: 19px;*/
}
#cars-list span:not(.error) {
  font-weight: 400;
  color: #000;
  padding-right: 30px;
}
#cars-list div {
  position: relative;
}
#cars-list > div.error:before {
  content: "";
  position: absolute;
  top: 3px;
  right: 15px;
  background: no-repeat url(img/warn.png) center;
  background-size: contain;
  width: 14px;
  height: 14px;
  display: inline-block;
}
#cars-list div[data-children]:after {
  position: absolute;
  top: 3px;
  right: 5px;
  content: attr(data-children);
  color: #59f;
}
#cars-list div.selected[data-children]:after {
  color: white;
}
#cars-list div div span {
  padding-left: 30px;
}
#cars-list div div {
  overflow: hidden;
  height: 0;
}
#cars-list span.expand ~ div {
  height: auto;
}
#cars-list span:hover {
  background: #fff;
}
#cars-list .selected > span {
  color: #fff;
  background: #59f;
}
#cars-list span.changed:after {
  content: "*";
}
#cars-list-filter-focus {
  background-image: url(img/search.png);
  float: right;
}
#cars-list-filter {
  display: none;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 11px;
  height: 23px;
  width: 110px;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 10;
}
#loading div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -62px;
  margin-left: -60px;
  width: 120px;
}
#loading-grab {
  position: absolute;
  top: 0;
  left: 0;
  right: 200px;
  height: 50px;
  -webkit-app-region: drag;
}
main {
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
main footer {
  left: 250px;
  right: 0;
}
main > div > h4 {
  margin-top: 0;
}
#selected-car-error ul {
  margin-top: 0;
  font-size: 12px;
}
#selected-car-header.changed:after {
  content: "*";
}
#selected-car {
  width: calc(100vw - 400px);
}
#selected-car-logo {
  float: left;
  max-height: 24px;
  margin-right: 10px;
}
#details-message p {
  font-size: 12px;
}
#details-message button {
  margin-top: 10px;
}
#selected-car-desc {
  font-size: 12px;
  background: transparent;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
}
#selected-car-desc:not([readonly]):focus,
#selected-car[contenteditable]:focus {
  box-shadow: 0 0 0 2px #59f;
  color: black;
}
#selected-car-skins-article {
  position: relative;
  padding: 0;
}
#selected-car-skins {
  position: absolute;
  width: 110px;
  top: 0;
  height: 100%;
  right: 0;
  overflow: auto;
  margin: -2px -2px 0 0;
  bottom: 0;
  line-height: 0;
}
#selected-car-skins > img {
  width: 30px;
  height: 30px;
  margin: 2px;
}
#selected-car-skins > img.selected {
  margin: 0;
  border: 2px solid #59f;
}
#selected-car-preview {
  display: block;
  max-width: calc(100% - 114px);
  min-height: 120px;
}
/* properties */
#selected-car-properties {
  margin: 0 0 10px;
  font-size: 12px;
  list-style-type: none;
}
#selected-car-properties .property {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 120px;
}
#selected-car-properties .property:after {
  content: ":";
}
#selected-car,
#selected-car-properties input,
#selected-car-properties select {
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  padding: 0;
}
#selected-car-properties input,
#selected-car-properties select {
  width: 240px;
}
#selected-car-properties input {
  padding: 0 4px;
  box-sizing: border-box;
}
#selected-car:focus,
#selected-car-properties input:focus,
#selected-car-properties select:focus {
  box-shadow: 0 0 0 2px #59f;
  color: black;
}
summary {
  margin-left: -13px;
}
summary li {
  display: inline-block;
}
#selected-car-properties {
  position: relative;
}
#selected-car-upgrade {
  position: absolute;
  top: 8px;
  right: 122px;
}
#settings-open {
  background-image: url(img/settings.png);
  float: right;
}
