    body, input, button, select, textarea {
        font-family: Roboto;
    }

    button, h1, h2, h3, h4, h5, h6 {
        font-family: Roboto Condensed;
    }

    button, h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }

    button {
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        background: #59f;
        border: none;
        outline: none;
        padding: 3px 10px;
        color: white;
        font-weight: 700;
    }

    button:hover, footer span:hover > button:first-child {
        background: #87B6FE;
    }

    html, body {
        margin: 0;
        padding: 0;
        cursor: default;
    }

    [contenteditable] {
        cursor: text;
        text-transform: none;
    }

    .error {
        color: brown;
        font-weight: 700;
    }

    pre {
        white-space: pre-wrap;
        font-size: 12px;
    }

    ul.tagit, ul.tagit li {
        list-style: disc;
    }

    ul.tagit input[type="text"] {
        width: 120px;
    }

    ul.tagit li {
        display: inline-block;
    }

    .ui-widget {
        font-size: 12px;
    }

    .ui-widget-content {
        border: none;
    }

    .ui-corner-all {
        border-radius: 0;
    }

    .tagit-label {
        margin: 1px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: none;
    }

    .ui-menu {
        border: 1px solid #aaa;
    }

    .ui-state-default .ui-icon {
        display: none;
    }

    ul.tagit li.tagit-choice .tagit-close .text-icon {
        display: inline-block;
    }