dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.24);
    border-radius: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10;
}

dialog h6 {
    margin: 10px 0 4px;
}

dialog input {
    margin-bottom: 10px;
}

dialog > article {
    min-width: 400px;
    background: #fff;
    border-radius: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 rgba(0,0,0,.17);
    padding: 0 20px 40px;
    box-sizing: border-box;
    position: relative;
}

dialog progress {
    margin: 0 0 10px;
    width: 100%;
}

dialog p, dialog label, dialog ul {
    font-size: 12px;
}

dialog input:not([type="checkbox"]), dialog select, dialog button, dialog table {
    width: 100%;
    box-sizing: border-box;
}

dialog input[type="checkbox"] {
    vertical-align: -webkit-baseline-middle;
}

.dialog-header {
    margin: 0 -20px;
}

.dialog-header h4 {
    padding: 18px 20px;
    display: inline-block;
    margin: 0;
}

.dialog-header > div:first-child {
    float: right;
    display: inline-block;
    margin-top: 18px;
}

.dialog-header > div:first-child button {
    width: auto;
    margin: 0;
}

.dialog-header.tabs {
    background: #eee;
}

.dialog-header.tabs h4 {
}

.dialog-header.tabs h4.active {
    background: #fff;
}

.dialog-content > p:first-child {
    margin-top: 0;
}

.dialog-buttons {
    display: flex;
    
    position: absolute;
    background: #59f;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog-buttons button {
    height: 100%;
    padding: 10px;
}
