dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.24);
    border-radius: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10;
}

dialog > div {
    min-width: 400px;
    background: #fff;
    border-radius: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 rgba(0,0,0,.17);
    padding: 0 20px 20px;
    box-sizing: border-box;
}

dialog input, dialog select, dialog button, dialog table {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

dialog > div > div:first-child {
    float: right;
    display: inline-block;
    margin-top: 30px;
}

dialog > div > div:first-child button {
    width: auto;
    margin: 0;
}

dialog .dialog-buttons {
    display: flex;
}