/* global */
    body, input, button, select {
        font-family: PT Sans;
    }

    html, body {
        margin: 0;
        padding: 0;
        cursor: default;
    }

    [contenteditable] {
        cursor: text;
    }

    .error {
        color: brown;
        font-weight: 700;
    }

    ul.tagit, ul.tagit li {
        list-style: disc;
    }

    ul.tagit input[type="text"] {
        width: 120px;
    }

    ul.tagit li {
        display: inline-block;
    }

    .ui-widget {
        font-size: 11px;
    }

    .ui-widget-content {
        border: none;
    }

    .ui-corner-all {
        border-radius: 0;
    }

    .tagit-label {
        margin: 1px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: none;
    }

    .ui-menu {
        border: 1px solid #aaa;
    }

    .ui-state-default .ui-icon {
        display: none;
    }

    ul.tagit li.tagit-choice .tagit-close .text-icon {
        display: inline-block;
    }

/* special */
    #cars-list > span.disabled, main > h4.disabled {
        color: #aaa !important;
        font-weight: normal;
    }

    #cars-list > span.error:before, main > h4.error:before {
        content: "";
        font-family: Segoe UI Symbol;
        float: right;
        background: no-repeat url(img/warn.png) center;
        background-size: contain;
        width: 14px;
        height: 14px;
        display: inline-block;
    }

/* modules */
    iframe {
        width: calc(100vw - 100px);
        height: calc(100vh - 200px);
        border: 1px solid #eee;
    }

/* detailed information */
    main {
        position: absolute;
        top: 0;
        left: 200px;
        right: 0;
        padding: 10px;
    }

    main > h4 {
        margin-top: 0;
    }

    #selected-car {
        white-space: nowrap;
    }

    #selected-car-logo {
        float: left;
        max-height: 24px;
        margin-right: 10px;
    }

    #selected-car-desc {
        font-size: 11px;
    }

    #selected-car-skins-article {
        position: relative;
        padding: 0;
    }

    #selected-car-skins {
        position: absolute;
        width: 120px;
        top: 0;
        height: 100%;
        right: 0;
        overflow: auto;
    }

    #selected-car-skins > img {
        width: 100%;
        display: block;
    }

    #selected-car-skins > img + img {
        margin-top: 2px;
    }

    #selected-car-preview {
        display: block;
        max-width: calc(100% - 124px);
        min-height: 200px;
    }

/* footer */
    main footer {
        position: fixed;
        height: 50px;
        left: 200px;
        right: 0;
        bottom: -100px;
        transition: bottom .2s;
        background: #59f;
        box-sizing: border-box;
        padding: 10px;
    }

    main footer.active {
        bottom: 0;
    }

    main footer button {
        height: 100%;
        display: inline-block;
        font-size: 11px;
    }

/* cars list */
    aside {
        background: #eee;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding: 0;
    }

    aside > h4 {
        margin: 0;
        padding: 10px;
    }

    #cars-list {
        position: absolute;
        top: 40px;
        width: 100%;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #cars-list > span {
        display: block;
        cursor: pointer;
        font-size: 11px;
        padding: 3px 15px;
        box-sizing: border-box;
    }

    #cars-list > span:hover {
        background: #fff;
    }

    #cars-list > span.selected {
        color: #fff;
        background: #59f;
    }

    #cars-list > span.changed:after {
        content: "*";
    }

    #cars-list-filter {
        display: none;
        position: absolute;
        right: 7px;
        top: 7px;
    }